.RegionSelector {
  .RegionSelector__option {
    text-transform: uppercase;
  }

  .areas {
    text-transform: capitalize;
    margin: 1rem 0 0 0;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .RegionSelector__dropdown {
    text-transform: capitalize;
  }
}
