/* http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/ */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-filter: saturate(1.05);
  filter: saturate(1.05);
}

body {
  font: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.inner-content-container {
  height: 85vh;
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inner-content-container.--blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.3;
}

.header {
  position: relative;
  z-index: 999;
  color: white;
  background-color: #3478ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
}

.header.--blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.3;
}

.header__inner {
}

.header__content {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 0 0 0 1rem;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  border-left: 1px solid rgba(255, 255, 255, 0.801);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-open-container > .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem 0.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  /* border: 2px solid white; */
  border-radius: 3px;
  cursor: pointer;
}

.menu-open-container:hover > .button > h4 {
  color: #fdf38e;
}

.menu-open-container:hover > .button > .burger > div {
  background-color: #fdf38e;
}

.menu-open-container > .button > .burger {
  margin-right: 0.5rem;
}

.menu-open-container > .button > .burger > div {
  width: 18px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

.header__inner > h1 {
  font-weight: 300;
  text-transform: capitalize;
}

.header__inner > p {
  font-size: 0.9rem;
  font-weight: 700;
}

a {
  color: #00b7ff;
}

.alliances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
  bottom: 4rem;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 2rem 0;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

.alliances > .indy,
.alliances > .union {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.alliances > .indy {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.alliances > .indy > p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.alliances > .indy > .data-container > .lhs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 1.5rem 0 0;
}

.alliances > .union > .data-container > .lhs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 1.5rem 0 0;
}

.total-seats {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.total-seats > p.diff {
  margin-top: 0.5rem;
  display: none;
  margin-left: 1rem;
}

.total-seats > p.diff.--loss {
  color: red;
  font-weight: 700;
  display: block;
}

.total-seats > p.diff.--gain {
  color: green;
  font-weight: 700;
  display: block;
}

.total-seats > p.diff.--gain::before {
  content: '+';
}

.alliances > .indy > .data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.alliances > .union {
  position: relative;
}

.alliances > .union > p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.alliances > .union > .data-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alliances > .union > .tags {
  position: absolute;
  left: -1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.alliances > .union > .tags > .con {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #91ccec;
}
.alliances > .union > .tags > .lab {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #e4003b;
}
.alliances > .union > .tags > .lib {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #faa01a;
}

.indy {
  background: #222;
  padding: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.3);
}

.union {
  background: #222;
  padding: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.3);
}

.const-seats,
.list-seats,
.total-seats,
.total-share,
.share-seats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flag {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.flag::after {
  z-index: 0;
  content: '';
  position: absolute;
  /* background-color: #222; */
  width: 3rem;
  height: 3rem;
  top: 50%;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flag.--indy {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Flag_of_Scotland.svg/200px-Flag_of_Scotland.svg.png');
}

.flag.--union {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/320px-Flag_of_the_United_Kingdom.svg.png');
}

.--small-bold > p {
  font-size: 0.75rem;
  opacity: 0.75;
  text-transform: uppercase;
}

.--small-bold > p.value {
  margin-left: 0.5rem;
}

.total-seats.--small-bold > p {
  font-size: 1.2rem;
  font-weight: bolder;
  opacity: 1;
}

.share-seats > p.value {
  margin-left: 0.5rem;
}

.snp-slider {
  -webkit-appearance: none;
  width: 70%;
  margin: 0 auto;
  height: 10px;
  border-radius: 5px;
  background: #fdf38e;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  max-width: 70%;
  width: 100%;
}

.snp-slider:hover {
  opacity: 1;
}

.snp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #333;
  border-radius: 50%;
  background: white;
  background-position: center;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.slider-party-container > .name {
  font-weight: 300;
}

.slider-party-container > .perc {
  font-weight: 700;
}

.slider-party-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-party-container > div.snp--logo {
  width: 2rem;
  margin: 0.5rem 0;
  height: 2rem;
  border: 1px solid #333;
  border-radius: 50%;
  background: url('https://www.snp.org/app/themes/snp/dist/images/avatar.svg');
  background-position: center;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-party-container > div.isp--logo {
  width: 2rem;
  margin: 0.5rem 0;
  height: 2rem;
  border: 1px solid #333;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/isp.jpg');
  background-position: center;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
}

input.--perc100 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(100%, rgba(253, 243, 142, 1)),
    to(#3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 100%, #3478ba 100%);
}
input.--perc95 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(95%, rgba(253, 243, 142, 1)),
    color-stop(95%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 95%, #3478ba 95%);
}
input.--perc90 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(90%, rgba(253, 243, 142, 1)),
    color-stop(90%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 90%, #3478ba 90%);
}
input.--perc85 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(85%, rgba(253, 243, 142, 1)),
    color-stop(85%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 85%, #3478ba 85%);
}
input.--perc80 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(80%, rgba(253, 243, 142, 1)),
    color-stop(80%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 80%, #3478ba 80%);
}
input.--perc75 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(75%, rgba(253, 243, 142, 1)),
    color-stop(75%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 75%, #3478ba 75%);
}
input.--perc70 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(70%, rgba(253, 243, 142, 1)),
    color-stop(70%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 70%, #3478ba 70%);
}
input.--perc65 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(65%, rgba(253, 243, 142, 1)),
    color-stop(65%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 65%, #3478ba 65%);
}
input.--perc60 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(60%, rgba(253, 243, 142, 1)),
    color-stop(60%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 60%, #3478ba 60%);
}
input.--perc55 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(55%, rgba(253, 243, 142, 1)),
    color-stop(55%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 55%, #3478ba 55%);
}
input.--perc50 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(253, 243, 142, 1)),
    color-stop(50%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 50%, #3478ba 50%);
}
input.--perc45 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(45%, rgba(253, 243, 142, 1)),
    color-stop(45%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 45%, #3478ba 45%);
}
input.--perc40 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, rgba(253, 243, 142, 1)),
    color-stop(40%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 40%, #3478ba 40%);
}
input.--perc35 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(35%, rgba(253, 243, 142, 1)),
    color-stop(35%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 35%, #3478ba 35%);
}
input.--perc30 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, rgba(253, 243, 142, 1)),
    color-stop(30%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 30%, #3478ba 30%);
}
input.--perc25 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, rgba(253, 243, 142, 1)),
    color-stop(25%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 25%, #3478ba 25%);
}
input.--perc20 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(20%, rgba(253, 243, 142, 1)),
    color-stop(20%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 20%, #3478ba 20%);
}
input.--perc15 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(15%, rgba(253, 243, 142, 1)),
    color-stop(15%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 15%, #3478ba 15%);
}
input.--perc10 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(10%, rgba(253, 243, 142, 1)),
    color-stop(10%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 10%, #3478ba 10%);
}
input.--perc5 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(5%, rgba(253, 243, 142, 1)),
    color-stop(5%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 5%, #3478ba 5%);
}
input.--perc0 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(253, 243, 142, 1)),
    color-stop(0%, #3478ba)
  );
  background: linear-gradient(90deg, rgba(253, 243, 142, 1) 0%, #3478ba 0%);
}

.isp-slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
  background: #3478ba;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.isp-slider:hover {
  opacity: 1;
}

.isp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 1px solid #333;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/isp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sliders {
  margin-bottom: 2rem;
  position: relative;
}

.sliders::after {
  /* content: ''; */
  position: absolute;
  height: 1px;
  width: 75%;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.21);
}

.slider {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider > .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  font-size: 1.1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.regions {
  margin-bottom: 1rem;
}

.region-selection {
  margin-bottom: 1rem;
}

.region-selection {
  margin-bottom: 1rem;
}

.regions > .constituencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.regions > .constituencies > .list {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.regions > .constituencies > .list > p {
  font-size: 0.75rem;
  margin-right: 0.5rem;
  font-weight: 300;
  text-transform: capitalize;
}

.region-selection > option {
  text-transform: capitalize;
}

.breakdown__parties > .party {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

table > tbody > tr > th {
  padding: 1rem 0.5rem;
  cursor: pointer;
  vertical-align: top;
  text-align: left;
}

table > thead > tr > th {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  vertical-align: top;
  text-align: left;
}

table > tfoot > tr > td {
  padding: 0.5rem;
  cursor: pointer;
  vertical-align: top;
  text-align: left;
}

table {
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-collapse: collapse;
  display: table;
}

tr:nth-child(odd) {
  background: rgb(233, 232, 232);
}
tr:nth-child(even) {
  background: rgb(206, 206, 206);
}

thead {
  border-bottom: 5px solid white;
}

tfoot {
  border-top: 5px solid white;
}

table > tbody > tr > td {
  padding: 1rem 0.5rem;
  cursor: pointer;
  vertical-align: top;
  text-align: left;
}

tr.party > td.snp,
tr.party > td.isp,
tr.party > td.green,
tr.party > td.labour,
tr.party > td.tories,
tr.party > td.libs {
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

tr.party > td.green,
tr.party > td.labour,
tr.party > td.tories,
tr.party > td.libs {
  text-transform: capitalize;
}

tr.party > td.snp,
tr.party > td.isp {
  text-transform: uppercase;
}

.party > td.snp > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/snp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.party > td.green > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/green.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.party > td.tories > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/tories.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.party > td.labour > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/labour.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.party > td.libs > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/libs.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.party > td.isp > div.logo {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/isp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: url('http://ec2-54-194-194-25.eu-west-1.compute.amazonaws.com/images/info.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-container > .name,
#isp-percentage,
#snp-percentage {
  max-width: 15%;
  width: 15%;
}

#isp-percentage,
#snp-percentage {
  text-align: right;
}
/* 
.total-seats > p.value.--light.--indy {
  font-weight: 300;
  position: absolute;
  top: -19%;
  right: -10%;
  background: #3478BA;
  border: 3px solid #666;
  padding: 1.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-seats > p.value.--light.--union {
  font-weight: 300;
  position: absolute;
  top: -19%;
  left: -10%;
  background: #e4003b;
  border: 3px solid #666;
  padding: 1.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media only screen and (min-width: 762px) {
  .header__inner > h1::before {
    content: 'HOLYROOD ';
  }
}

@media only screen and (max-width: 762px) {
  .header {
    border: 3px solid white;
  }

  .total-seats > p.diff {
    margin-left: 0.5rem;
  }

  table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
  }

  .menu-open-container {
    width: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.801);
    /* border-radius: 6px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  .menu-open-container > .button > h4 {
    display: none;
  }

  .header__inner {
    /* padding: 1rem 1.5rem; */
  }

  .header__inner > h1 {
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .header__inner > p {
    font-size: 0.8rem;
  }

  .inner-content-container {
    padding: 1rem 1.5rem 2rem 1rem;
  }

  body {
    overflow: hidden;
  }
  .constituencies {
    display: none !important;
  }
  .region-selection {
    margin-bottom: 2rem;
  }

  .alliances {
    padding: 1rem 0rem !important;
  }

  .alliances > .union > p:first-child,
  .alliances > .indy > p:first-child {
    display: none;
  }

  .total-share > p:first-child,
  .total-seats > p:first-child {
    display: none;
  }

  .const-seats,
  .list-seats {
    display: none;
  }

  td > .party-name {
    display: none;
  }

  #indy-total-perc,
  #union-total-perc {
    margin: 0;
    text-align: center;
  }

  #union-total-seats,
  #indy-total-seats {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  tr#isp {
    background-color: lightgrey;
  }
}

@media only screen and (max-width: 492px) {
  .alliances > .indy > .data-container,
  .alliances > .union > .data-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flag {
    height: 2rem !important;
    width: 2rem !important;
  }

  thead > tr {
    font-size: 0.85rem;
  }

  table > tbody > tr > td {
    padding: 0.25rem 0.5rem;
  }

  table {
    font-size: 0.85rem;
  }

  td > .logo {
    width: 1rem !important;
    height: 1rem !important;
  }

  .sliders {
    margin-bottom: 1.5rem !important;
  }
}

@media only screen and (min-height: 700px) {
  table > tbody > tr > td {
    padding: 0.65rem 0.5rem;
  }
}

@media only screen and (max-height: 700px) {
  .sliders {
    margin-bottom: 0.5rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .alliances > .union > .data-container > .lhs,
  .alliances > .indy > .data-container > .lhs {
    margin: 0 1rem 0 0;
  }
}

@media only screen and (max-width: 350px) {
  .alliances > .union,
  .alliances > .indy {
    padding: 1rem;
  }

  table {
    font-size: 0.7rem;
  }

  table > tbody > tr > td {
    padding: 0.6rem 0.3rem;
  }
}

.menu {
  position: fixed;
  width: 80%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3478ba;
  z-index: 9999;
  color: #222;
  -webkit-transform: translateX(125%);
  transform: translateX(125%);
  border-left: 4px solid #222;
  -webkit-box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 13px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu__inner-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* justify-content: space-between; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.created {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
}

.content {
  height: 100vh;
}

.menu.--open {
  -webkit-transform: translateX(25%);
  transform: translateX(25%);
}

.menu__inner-container {
  padding: 2rem;
}

.menu__inner-container > .title {
  text-transform: uppercase;
  font-weight: 700;
}

.menu__title:hover {
  color: #fdf38e;
}

.menu__title {
  color: white;
  cursor: pointer;
}

.menu__list {
}

.menu__list > ul {
  list-style: none;
}

.item:hover > a {
  color: white;
  cursor: pointer;
}

.item:hover::after {
  background: #fdf38e;
}

.item {
  position: relative;
  margin: 1.5rem 0;
}

.item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  background: white;
  width: 100%;
}

.item > a {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  color: #fdf38e;
  color: #fdf38e;
  text-decoration: none;
}

.item > p {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  color: #fdf38e;
  color: #fdf38e;
  text-decoration: none;
}

td.diff.--gain {
  color: green;
}

td.diff.--loss {
  color: red;
}
